body {
    background-color: black;
}

input, button, li {
    background-color: #a8e3b4;
    border-radius: 10px;
}

.logo {
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 30px;
    color: white;
    font-size: 50px;
}

.content {
    display: flex;
    width: 350px;
    margin: 0 auto;
    padding: 30px 40px;
    flex-direction: column;
    background-color: darkgrey;
    border-radius: 10px;
}

.content__search {
    display: flex;
    justify-content: space-between;
}

.search__input {
    flex-grow: 1;
    font-size: 20px;
    padding-left: 30px;
}

.content__task-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    list-style: none;
    border-radius: 10px;
    border: 1px solid rebeccapurple;
    background-color: dimgrey;
    padding: 0;
}

.task-list__task {
    padding: 10px 0;
    margin-bottom: 10px;
}

.content__form-add {
    display: flex;
    justify-content: space-between;
}

.form-add__input {
    flex-grow: 1;
    padding-left: 30px;
    font-size: 20px;
}

.content__clear-completed {
    margin: 20px 0;
    display: flex;
}

.clear-completed__input {
    flex-grow: 1;
    height: 30px;
}

.content__filter {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.filter__all, .filter__in-process, .filter__completed {
    flex-grow: 1;
    height: 30px;
}

.filter__button--green {
    background-color: #5ed952;
}

.template__task {

}

.task-list__task {
    display: flex;
    justify-content: space-around;
}

.task__text {
    font-size: 30px;
    padding: 20px 30px;
    overflow: hidden;
    width: 200px;
    height: 70px;
    background-color: #8aed8f;
    border-radius: 10px;
    resize: none;
    font-family: 'Times New Roman', Times, serif;   
}

.task__text--complete {
    text-decoration: line-through;
    background-color: #959c96;
}

.task__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.task__complete {
    flex-grow: 1;
    background-color: #5ed952;
}

.task__complete--set {
    background-color: #d9de59;
}

.task__close {
    flex-grow: 1;
    background-color: #de7189;
}

.hide {
    display: none;
}